<main class="my-5 text-center">
  <h1 class="my-4 text-2xl">Edit Post</h1>
  <form class="update-yashy-post-form bg-blue-500 border-4" class="my-4">
    <div class="my-4">
      <label for="title-update-yashy-post" class="form-label">Title</label>
      <input
        type="text"
        class="form-control"
        id="title-update-yashy-post"
        placeholder="Enter post title"
        value="{{title}}"
      />
    </div>
    <div class="my-4">
      <label for="content-update-yashy-post" class="form-label">Content</label>
      <textarea
        class="form-control"
        id="content-update-yashy-post"
        rows="3"
        placeholder="Enter post content"
      >{{content}}</textarea>
    </div>
    <button type="submit" id="update-yashy-post" class="btn btn-primary btn-warning text-xl border-2 rounded-lg hover:scale-110 hover:bg-yellow-600 bg-opacity-40 hover:opacity-100">Update Post</button>
    <button type="button" id="delete-yashy-post" class="btn btn-danger btn-warning text-xl border-2 rounded-lg hover:scale-110 hover:bg-red-600 bg-opacity-40 hover:opacity-100">Delete Post</button>
  </form>
</main>