<main class="my-5 text-center">
  <h1 class="my-4 text-2xl">Login</h1>
  <form class="yashy-login-form bg-blue-500 border-4">
    <div class="my-4">
      <label for="username" class="form-label">Username</label>
      <input
        type="text"
        class="form-control"
        id="username-yashy-login"
        placeholder="Username"
      />
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input
        type="password"
        class="form-control"
        id="password-yashy-login"
        placeholder="Password"
      />
    </div>
    <button type="submit" class="btn btn-primary my-2 border-2 rounded-lg hover:scale-110 hover:bg-green-600 bg-opacity-40 hover:opacity-100">Log In</button>
  </form>

</main>