<div class="my-5 text-center">
  <h2 class="my-4 text-3xl">Create a Blog Contribution</h2>
  <form class="new-yashy-post-form bg-blue-500 border-4">
    <div class="my-4">
      <label for="title-new-yashy-post" class="form-label">Title:</label>
      <input
        type="text"
        class="form-control"
        id="title-new-yashy-post"
        placeholder="Enter a title of your choice"
      />
    </div>
    <div class="my-4">
      <label for="content-new-yashy-post" class="form-label">Content:</label>
      <textarea
        class="form-control"
        id="content-new-yashy-post"
        rows="5"
        placeholder="Enter content here"
      ></textarea>
    </div>
    <div class="my-4">
      <button type="submit" class="btn btn-primary text-2xl border-2 rounded-lg hover:scale-110 hover:bg-green-600 bg-opacity-40 hover:opacity-100">Create Post</button>
    </div>
  </form>
</div>