<main class="my-5 text-center">
  <h1 class="my-4 text-2xl">Sign Up</h1>
  <form id="signup-form" class="yashy-signup-form bg-blue-500 border-4">
    <div class="my-4">
      <label for="username" class="form-label">Username:</label>
      <input
        type="text"
        class="form-control"
        id="username"
        placeholder="Username"
      />
    </div>
    <div class="my-4">
      <label for="email" class="form-label">Email:</label>
      <input type="email" class="form-control" id="email" placeholder="Email" />
    </div>
    <div class="my-4">
      <label for="password" class="form-label">Password:</label>
      <input
        type="password"
        class="form-control"
        id="password"
        placeholder="Password must be over (8) Characters long"
      />
    </div>
    <button type="submit" class="btn btn-primary my-2 border-2 rounded-lg hover:scale-110 hover:bg-green-600 bg-opacity-40 hover:opacity-100">Sign Up</button>
  </form>
</main>